@import url('https://fonts.googleapis.com/css?family=Work+Sans:200,400');

* {
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    font-size: 16px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #FFF;
    outline: 0;
}
html, body {background: #191919;}
a {text-decoration: none;color: inherit;}
a:hover,a:visited,a:active,a:focus{text-decoration: none;color: inherit;}
a:hover{color:#9869b8;}

h1 {font-size: 2em;}
h2 {font-size: 1.8em;}
h3 {font-size: 1.6em;}
h4 {font-size: 1.4em;}
h5 {font-size: 1.2em;}
h6 {font-size: 1em;}
h1,h2,h3,h4,h5,h6{font-weight: 400;margin: 0;}

/* BOTTONS */
.btn {
    height: 35px;
    line-height: 0;
    border-radius: 0;
    border: 0;
    display: block;
    background-image: linear-gradient( 135deg, #3B2667 10%, #663985 100%);
    text-align: center;
    text-transform: uppercase;
}
.btn:hover {color: #FFF;}
.btn:active {color: #FFF;background-image: linear-gradient( 135deg, #3B2667 10%, #663985 100%);}

.btn_menu {
    width: 60px;
    height: 53px;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    padding: 15px;
}
.btn_menu span{
    display: block;
    height: 3px;
    background: #FFF;
}
.btn_menu span + span {
    margin-top: 7px;
}
.menu {
    position: fixed;
    z-index: 90;
    background: #1f1f1f;
    width: 0;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    transition: all 250ms ease-out;
    top: 0;
    left: 0;
}
.menu.open{width: 100vw;}
.menu ul{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;
    height: 100vh;
    height: 100%;
    padding: 30px;
    margin: 0;
    list-style: none;
}
.menu ul li{
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    position: relative;
}
.menu ul li a{color: #f9f9f9;font-size: 3em;white-space: nowrap;}
.menu ul li a:hover{color:#8000FF;opacity: 0.5;}

.flex-center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
}
.flex-center .flex-item {
    order: 0;
    flex: 0 1 auto;
    align-self: center;
}

/* HOME */
section.home {
    height: 100vh;
    width: 100%;
    background: url(../img/back-home.jpg) no-repeat center;
    background-size: cover;
}
section.home .flex-center {
    height: 100vh;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
section.home .flex-center h1 {
    position: absolute;
    top: 50%;
    background: rgba(0,0,0,0.8);
    padding: 20px;
    margin-top: -55px;
}
section.home .flex-center h1 span {
    text-transform: lowercase;
    display: block;
    font-size: 0.6em;
    vertical-align: middle;
    margin-top: 5px;
    margin-bottom: -4px;
}
#slide-home.carousel {
    margin-left: 200px;
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.5);
}
#slide-home .carousel-control {
    background: rgba(0, 0, 0, 0.8);
    height: 100px;
    width: 100px;
    opacity: 1;
    line-height: 1;
    top: initial;
    bottom: -50px;
    padding: 20px;
}
#slide-home .carousel-control img {
    display: block;
    margin: 0 auto;
    height: 100%;
    width: auto;
}
#slide-home .carousel-control.left {
    left: initial;
    right: 70px;
}
#slide-home .carousel-control.right {
    right: -50px;
}

/* WORK */
section.works img {
    width: 100%;
    height: auto;
    display: block;
}
.flex-grid.works {
    margin: 0 auto;
    max-width: 1200px;
}
.flex-grid.works .flex-items {
    margin: 200px 0;
}
.flex-grid.works .flex-items .work-item {
    position: relative;
}
.flex-grid.works .flex-items .work-item img{
    max-width: 800px;
    height: auto;
    margin-left: auto;
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.5);
}
.flex-grid.works .flex-items .work-item h2{
    position: absolute;
    display: block;
    background: rgba(0, 0, 0, 0.8);
    color: #FFF;
    z-index: 1;
    font-size: 4em;
    text-transform: uppercase;
    font-weight: 100;
    padding: 20px;
    line-height: 1;
    top: 50%;
    width: 250px;
    height: 250px;
    margin-top: -125px;
    left: 20%;
    text-shadow:0px 0px 10px #000;
}
.flex-grid.works .flex-items:nth-child(odd) .work-item img{
    margin-left: 0;
}
.flex-grid.works .flex-items:nth-child(odd) .work-item h2{
    right: 20%;
    left: initial;
}

/* CONTACT */

.content-contact {margin: 200px 0;}
.content-contact form {
    position: relative;
}
.content-contact form .txt h2 {
    display: block;
    background: rgba(0, 0, 0, 0.8);
    color: #FFF;
    z-index: 1;
    font-size: 4em;
    text-transform: uppercase;
    font-weight: 100;
    padding: 20px;
    line-height: 1;
    text-shadow:0px 0px 10px #000;
    height: 230px;
    width: 200px;
    margin-right: 150px;
}
.content-contact form .social,
.content-contact form .input,
.content-contact form .txt {float: left;}
.content-contact form .txt {width: 350px;padding-right: 15px}
.content-contact form .input {width: calc(100% - 700px); padding: 0 15px;}
.content-contact form .social {width: 350px; padding-left:15px;}
.content-contact form p{
    font-size: 1.5em,
}
.content-contact form p + p{margin-top: 15px;margin-bottom: 0;}
.content-contact form span{
    display: block;
    font-size: 28px;
    line-height: 1em;
}
.content-contact form input,
.content-contact form textarea{
    border:0;
    display: block;
    background: none;
    padding: 10px;
    border-bottom: 2px solid #FFF;
    width: 100%;
}
.content-contact form textarea{
    resize: none;
}
.content-contact form .btn {margin-left: auto;margin-top: 30px;width: 150px;}
.content-contact form .social {text-align: right;}
.content-contact form .social ul{padding:0;margin: 15px 0 0; }
.content-contact form .social ul li{list-style: none;}
.content-contact form .social ul li + li{margin-top: 15px;}
.content-contact form .social ul li a{text-transform: lowercase;}

.viewer_360{
    width: 100%;
    height: 80vh;
    display: block;
    margin: 10vh 0;
    border: 0;
    padding: 0;
    position: relative;
}