@import url('https://fonts.googleapis.com/css?family=Work+Sans:200,400');

* {
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    font-size: 16px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #FFF;
}
html, body {background: #1f1f1f;}
a {text-decoration: none;color: inherit;}
a:hover,a:visited,a:active,a:focus{text-decoration: none;}

h1 {font-size: 2em;}
h2 {font-size: 1.8em;}
h3 {font-size: 1.6em;}
h4 {font-size: 1.4em;}
h5 {font-size: 1.2em;}
h6 {font-size: 1em;}
h1,h2,h3,h4,h5,h6{font-weight: 400;margin: 0;}

header {
    position: fixed;
    z-index: 90;
}
.menu {
    position: fixed;
    z-index: 100;
    background: #1f1f1f;
    width: 0;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    transition: all 250ms ease-out;
}
.menu.open{width: 100vw;}
.menu ul{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;
    height: 100vh;
    height: 100%;
    padding: 30px;
    margin: 0;
    list-style: none;
}
.menu ul li{
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    position: relative;
}
.menu ul li a{color: #f9f9f9;font-size: 3em;white-space: nowrap;}
.menu ul li a:hover{color:#8000FF;opacity: 0.5;}

.flex-center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
}
.flex-center .flex-item {
    order: 0;
    flex: 0 1 auto;
    align-self: center;
}

/* HOME */
section.home {
    height: 100vh;
    width: 100%;
}
section.home .flex-center {
    height: 100vh;
    width: 100%;
}

/* WORK */
section.works img {
    width: 100%;
    height: auto;
    display: block;
}
.flex-grid.works {}
.flex-grid.works .flex-items {
    margin: 200px 0;
}
.flex-grid.works .flex-items .work-item {
    position: relative;
}
.flex-grid.works .flex-items .work-item img{
    max-width: 800px;
    height: auto;
    margin-left: auto;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
.flex-grid.works .flex-items .work-item h2{
    position: absolute;
    display: block;
    background: rgba(0, 0, 0, 0.8);
    color: #FFF;
    z-index: 1;
    font-size: 4em;
    text-transform: uppercase;
    font-weight: 100;
    padding: 20px;
    line-height: 1;
    top: 50%;
    width: 250px;
    height: 250px;
    margin-top: -125px;
    left: 20%;
    text-shadow:0px 0px 10px #000;
}
.flex-grid.works .flex-items:nth-child(odd) .work-item img{
    margin-left: 0;
}
.flex-grid.works .flex-items:nth-child(odd) .work-item h2{
    right: 20%;
    left: initial;
}
