@import url('https://fonts.googleapis.com/css?family=Work+Sans:200,400');

* {
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    font-size: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {background: #1f1f1f;}
a {text-decoration: none;color: inherit;}
a:hover,a:visited,a:active,a:focus{text-decoration: none;}

h1 {font-size: 2em;}
h2 {font-size: 1.8em;}
h3 {font-size: 1.6em;}
h4 {font-size: 1.4em;}
h5 {font-size: 1.2em;}
h6 {font-size: 1em;}
h1,h2,h3,h4,h5,h6{font-weight: 400;}

header {
    position: fixed;
    z-index: 90;
}
.menu {
    position: fixed;
    z-index: 100;
    background: #1f1f1f;
    width: 0;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    transition: all 250ms ease-out;
}
.menu.open{width: 100vw;}
.menu ul{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    height: 100vh;
    height: 100%;
    padding: 30px;
    margin: 0;
    list-style: none;
}
.menu ul li{
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    position: relative;
}
.menu ul li a{color: #f9f9f9;font-size: 3em;white-space: nowrap;}
.menu ul li a:hover{color:#8000FF;opacity: 0.5;}

.flex-center {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.flex-center .flex-item {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

section.home {
    height: 100vh;
    width: 100%;
}
section.home .flex-center {
    height: 100vh;
    width: 100%;
}


.works img {
    width: 100%;
    height: auto;
    display: block;
}
